<center><h1> Welcome to Classic Garages </h1></center>

<br>
<h4><center><%= link_to 'Garage', garages_path %></center></h4>

<p>Doing two-factor authentication (2FA)
<%= link_to "Authy", "http://authy.com" %> (powered by <%= link_to "Twilio", "http://twilio.com" %>) 
</p>


